{% extends "blog/base.html" %}

{%block content %}
	

<!DOCTYPE html>
<html lang="en">
<head>

<body>

	<h1>ABOUT BHOOKAY</h1>

		<div class = about>
			Bhookay: The ulitmate solution to all foodies' problems. <br>
			From fastfood to desi, from chinese to italian, Bhookay has it all covered. <br>
			Founded by a group of LUMS students in 2020, Bhookay aims to provide timely food delivery service all over Karachi. The team at Bhookay believes our customers' comfort and choice comes first. Our staff has been extensivley trained to deliver your orders 24/7 throughout Karachi.<br><br><br> <b><u>			
			Your food is a click away!  
			

		</div>

		
</body>















{%endblock content%}








